.advanced_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advanced_search div {
  font-size: 14px;
  font-weight: bold;
  color: #777;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  gap: 20px;
  padding: 20px;
}

hr {
  width: 100%;
}

h3 {
  font-weight: 300;
  color: #da3325;
}

h4 {
  font-weight: 300;
  color: #333;
  margin: 15px 0px;
}

form span {
  margin: 10px 10px 10px 0;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
  text-wrap: nowrap;
  color: #222;
}

form span input[type="text"] {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
}

form span input[type="text"]:focus {
  outline: none;
  border-color: #4285f4;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

form span p {
  font-size: 12px;
  color: #555;
}

.form-options {
  width: 900px;
  display: flex;
  flex-direction: column;
}

.form-options hr {
  margin-top: 10px;
  width: 100vw;
}

.submit-button {
  display: flex;
  margin: 12px 0;
  justify-content: flex-end;
}

.submit-button input[type="submit"] {
  color: white;
  border: none;
  border-radius: 2px;
  padding: 8px;
  cursor: pointer;
  background-color: #0b57d0;
}

.nav-left span img {
  display: inline-block;
  height: 24px;
  width: 74px;
}

footer {
  justify-content: start;
}

.footer-left,
.footer-right {
  display: flex;
  gap: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  header {
    padding: 8px 8px;
  }
  header nav button {
    padding: 6px 10px;
    text-align: center;
    text-wrap: nowrap;
  }

  main {
    overflow: hidden;
  }

  .form-options {
    width: 350px;
  }
}

/* For mobile (landscape) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* For tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {
}

/* For small desktop */

@media only screen and (min-width: 980px) and (max-width: 1023px) {
}

/* For typical desktop */

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
}

/* For large desktop */

@media only screen and (min-width: 1200px) {
}
